@media screen and (max-width: 1350px) {
    .firstSliderWelcomeParagraph {
        font-size: 60px;
    }
}

@media screen and (max-width: 1100px) {
    .firstSliderWelcomeParagraph {
        font-size: 45px;
    }
    
    .firstSliderDiscoverParagraph {
        font-size: 20px;
    }
}

@media screen and (max-width: 850px) {
    .firstSliderWelcomeParagraph {
        font-size: 30px;
        letter-spacing: 0px;
    }
    
    .firstSliderWelcomeParagraph span {
        margin-left: 5px;
    }
    
    .firstSliderDiscoverParagraph {
        font-size: 20px;
    }
    
    .firstSliderParagraphOuterWrapper button {
        padding: 5px 10px;
        font-size: 10px;
    }
}


@media screen and (max-width: 600px) {
    .firstSliderWelcomeParagraph {
        font-size: 16px;
        letter-spacing: 0px;
        text-align: center;
    }
    
    .firstSliderDiscoverParagraph {
        font-size: 12px;
        letter-spacing: 0px;
    }
    

    .firstSliderButtonsDiv {
        margin-top: 5px;
    }
    
    .firstSliderParagraphDiv {
        padding-left: 10px;
        padding-right: 10px;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .firstSliderParagraphOuterWrapper button {
        padding: 5px 5px;
        font-size: 8px;
    }

    .utensilsIcon {
        width: 13px;
        height: 13px;
    }
}

@media screen and (max-width: 350px) {
    .firstSliderWelcomeParagraph {
        font-size: 15px;
        letter-spacing: 0px;
        text-align: center;
    }
    
    .firstSliderDiscoverParagraph {
        font-size: 10px;
        letter-spacing: 0px;
    }
    
    .firstSliderParagraphDiv {
        padding-left: 5px;
        padding-right: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .firstSliderParagraphOuterWrapper button {
        padding: 0px 0px;
        font-size: 5px;
    }
    
    .firstSliderButtonsDiv button:not(:first-child) {
        margin-left: 5px;
    }   
}