.elegantSlideshow .customCursorWrapperVisible {
    opacity: 1;
}

.app.touchScreen .customCursor {
    display: none;
}

.elegantSlideshow .customCursor {
    /* border: 10px solid black; */
    width: 100px;
    height: 100px;
    position: relative;
    /* top: -50px;
    left: -178px; */
    /* display: none; */
}

.elegantSlideshow .customCursorTop {
    position: absolute;
    content: "";
    /* background-color: blueviolet; */
    border: 1px solid wheat;
    width: 100%;
    height: 8px;
    transform: rotate(45deg) translateY(18px) translateX(2px);
    /* z-index: 8000; */
    
}

.elegantSlideshow .customCursorTop::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: wheat;
    width: 5px;
    height: 100%;
    /* z-index: 8000; */
    
}

.elegantSlideshow .customCursorTop::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background-color: wheat;
    width: 15px;
    height: 100%;
    /* z-index: 8000; */
    
}

.elegantSlideshow .customCursorBottom {
    bottom: 0;
    position: absolute;
    content: "";
    /* background-color: blueviolet; */
    border: 1px solid wheat;
    width: 100%;
    height: 8px;
    transform: rotate(-45deg) translateY(-17px)
    ;
}

.elegantSlideshow .customCursorBottom::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: wheat;
    width: 5px;
    height: 100%;
    /* z-index: 8000; */
}

.elegantSlideshow .customCursorBottom::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background-color: wheat;
    width: 15px;
    height: 100%;
    /* z-index: 8000; */
    
}