.logoLettersSVG {
    position: absolute;
    top: -10px;
    left: 20px;
    width: 60px;
    height: auto;

    transition: 3s stroke-dashoffset ease-in-out, 1s filter, 1s transform;
    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px;
    filter: 
    drop-shadow(-0px 0px 15px rgba(255, 192, 203, 0.6))
    drop-shadow(-0px 0px 25px rgba(255, 192, 203, 0.2))
    /* drop-shadow(0px -0px 1px pink) */
    ;
    /* z-index: 6; */
    z-index: 5001;
}

.logoLettersSVG:hover {
    transform: scale(1.5, 1.5);
}

.drawLogoLetters {
    stroke-dashoffset: 500px;
}

.logoLettersPath {
    fill:transparent;
    stroke:pink;
    stroke-miterlimit:10;
    stroke-width: 2px;
    transition: 2s stroke, 2s fill;
}

.lettersLines .logoLettersPath {
    stroke:rgb(105, 59, 110);
    fill:pink;
}