.aboutWelcome {
    background-color: wheat;
    width: 50%;
    margin-right: 7.5px;
    transition: .5s all .5s;
    transform: translateX(-50px);
    opacity: 0;
    z-index: 1;
    box-shadow: -5px 0 20px 0 rgba(245, 222, 179, 0.3);
    display: flex;
    flex-direction: column;
    padding: 45px 45px;
    /* border: 2px solid crimson; */
}

.aboutWelcome.show {
    opacity: 1;
    transform: unset; 
}

/* ABeeZee|Allura|Italiana|Montserrat|Philosopher|Poiret+One|Quicksand|Sofia */
.aboutWelcome .aboutWelcomeTextDiv {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 10px 0;
    /* border: 2px solid black; */
}

.aboutWelcome .aboutWelcomeTextDiv p {
    font-family: Montserrat;
    font-size: 40px;
    line-height: 1.5;
    position: relative;
    white-space: pre;
    /* border: 2px solid black; */
}

.aboutWelcome .aboutWelcomeTextDiv .veil {
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    left: 0%;
    background: linear-gradient(to left, wheat 70%, transparent);
    /* background: linear-gradient(to left, black 70%, transparent); */
    z-index: 2;
    transition: 1.5s;
    transform: translateX(-50%);
    /* border: 2px solid red; */
}

.aboutWelcome .aboutWelcomeTextDiv.show .veil {
    transform: translateX(50%);
}

.aboutWelcome .aboutWelcomeTextDiv span {
    font-family: Sofia;
    font-size: 40px;
    /* font-weight: bold; */
    color: rgb(171, 201, 36);
    text-shadow: 
    0 0 1px rgb(0, 0, 0)
    , -1px 0 1px rgb(0, 0, 0)
    , 1px -1px 1px rgb(0, 0, 0)
    , 0px 2px 5px rgb(11, 35, 7)
    ;
    margin-left: 15px;
}

.aboutWelcome .experienceVeganCuisineText {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

.aboutWelcome .experienceVeganCuisineText .veil {
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    background: linear-gradient(to top, wheat 80%, transparent);
    /* background: linear-gradient(to top, black 50%, transparent); */
    transition: 3s ease-in;
    top: 0%;
    transform: translateY(-50%);
}

.aboutWelcome .experienceVeganCuisineText.show .veil {
    transform: translateY(50%);
}

.aboutWelcome .experienceVeganCuisineText p {
    font-family: Montserrat;
    font-size: 25px;
    line-height: 1.5;
}

.aboutWelcome .experienceVeganCuisineText p .veganCuisine {
    font-style: italic;
    font-weight: bold;
    font-family: Philosopher;
    font-size: 38px;
    margin-left: 6px;
    color: rgb(18, 50, 0);
    
}

.aboutWelcome .experienceVeganCuisineText p span.wrapper {
    word-break: keep-all;
    white-space: nowrap;
}

.getDirectionsBtnWrapper {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    padding-left: 10px;
    transition: 1s ease-in-out;
    overflow: hidden;
    height: 80px;
    max-width: 0px;
    width: 250px;
    max-width: 220px;
    margin-top: 20px;
}

/* ABeeZee|Allura|Italiana|Montserrat|Philosopher|Playball|Poiret+One|Quicksand|Sofia */
.getDirectionsBtn {
    white-space: pre;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px !important;
    width: 200px !important;
    cursor: pointer;
    font-family: Poiret One;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    background-color: transparent;
    border: 1.5px solid transparent;
    box-shadow: 0 5px 10px 0px transparent;
    padding: 10px 20px;
    border-radius: 10px;
    color: transparent;
    text-shadow: 0 0 5px transparent;
    transition: 0.5s all, 0.6s box-shadow;
    /* opacity: 0; */
}

.getDirectionsBtnShow {
    animation: .5s showBackground forwards ease-in, 1s showBorderAndText .5s forwards ease-in-out;
}

.getDirectionsBtn:hover {
    transform: translateY(2px);
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.99);
    /* border: 1.5px solid rgb(135, 189, 255); */
    color: greenyellow;
    text-shadow: 0 0 5px greenyellow;
    background-color: rgb(1, 96, 1);
}


@keyframes showBackground {
    0% {
        background-color: transparent;
        box-shadow: 0 5px 10px 0px transparent;
    }
    100% {
        box-shadow: 0 5px 10px 0px rgba(8, 69, 8, 0.6);
        background-color: rgb(3, 73, 29);        
    }
}

@keyframes showBorderAndText {
    0% {
        color: transparent;        
        text-shadow: 0 0 5px transparent;
        border: 1.5px solid transparent;
    }
    100% {
        border: 1.5px solid greenyellow;
        text-shadow: 0 0 5px greenyellow;
        color: greenyellow;        
    }
}

.chefIcon {
    width: 50px;
    height: 50px;
    transition: 0.4s transform cubic-bezier(.53,1.08,.64,1.72), 0.2s opacity;
    opacity: 0;
    transform: translateY(-30px);
    margin-bottom: 25px;
}

.showChefIcon {
    opacity: 1;
    transform: translateY(0px);
}

@media screen and (max-width: 1200px) {
    .aboutWelcome {
        width: 100%;
        height: 50%;
        margin: 0px;
        margin-left: 0px;
        margin-right: 0px;
        /* border: 5px solid rebeccapurple; */
    }
}

.pageSwitching-exit-active .aboutWelcome {
    transition-delay: 0s;
    transform: translateX(-50px) scale(1,1);
    opacity: 0;
}


@media screen and (max-width: 700px) {
    .aboutWelcomeTextDiv {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .aboutWelcome {
        padding: 45px 10px;
    }

    .aboutWelcome .experienceVeganCuisineText {
        padding: 0 20px;
    }

    .aboutWelcome .experienceVeganCuisineText p {
        font-size: 22px;
    }

    .aboutWelcome .experienceVeganCuisineText p .veganCuisine {
        font-size: 35px;
    }
}

@media screen and (max-width: 400px) {
    .aboutWelcome .experienceVeganCuisineText p {
        font-size: 20px;
    }

    .aboutWelcome .experienceVeganCuisineText p .veganCuisine {
        font-size: 30px;
    }
}